*{
    margin: 0%;
    padding: 0%;
    font-family:'Arial';
}

nav{
    background-color: #174C4F;
    height: 100px;
    width:100%;
    margin: 0%;
    padding: 0%;
}

.img-logo{
    height: 90px;
    width: 165px;
    float: left;
}

.titulo{
    display: inline-block;
    color: #ffff;
    padding: 10px 30px;
    text-decoration: none;
}
.titulo:hover{
    color:aquamarine;
}

.menu{
    display: flex;
    flex-wrap:nowrap;
    justify-content:flex-end;
    align-items:end;
}



body{
    background-color: #F2F1EF;
    margin: 0%;
}

.perfil{
    margin-left: 12%;
    margin-right: 12%;
}

.portada{
    color:black;
}

.imgportada{
    width: 500px;
    height: 730px;
}

.arenales1{
    margin-right: 35px;
}

.santamar1{
    margin-left: 35px;
}

.nota1{
    margin-right: 35px;
}

.nota2{
    margin-left: 35px;
}

footer{
    background-color: #174C4F;
    height: 355px;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.contacto{
    margin-left: 4%;
    margin-right: 4%;
    color: #ffff;
}

.datos{
    margin-right: 20px;
}

.mapa{
    margin-left: 20px;
}